<app-navbar Title=""></app-navbar>
<div id="Container">
    <div id="Content">
        <h1>TEC'S ENERGY AWARENESS APP!</h1>
        <h2>Dit Vindue til Energioptimering</h2>
        <br>
        <p>Få dannet dig et nemt overblik med vores Energy Awareness App, der giver dig indsigt i bygningers og rummets energiforbrug. Få realtidsdata præsenteret på en intuitiv grænseflade, inklusive grafer og diagrammer, der gør det let at forstå og optimere dit energiforbrug.</p>
        <h3>Se Energiforbruget Live</h3>
        <p>Følg energiforbruget i realtid med nøjagtige målinger og opdateringer. Få øjeblikkelig indsigt i strømforbrug, vandforbrug og andre relevante data, så du altid er opdateret på dine miljømæssige aftryk.</p>
        <h3>Grafisk Analyse og Diagrammer</h3>
        <p>Udforsk dine data visuelt med vores letforståelige grafer og diagrammer. Vi præsenterer dine forbrugsdata på en visuelt tiltalende måde, der gør det nemt at identificere mønstre, potentielle besparelser og områder, der kræver yderligere opmærksomhed. Med vores brugervenlige grænseflade kan du udforske graferne og diagrammerne på en intuitiv måde, uanset dit tekniske niveau.</p>
    </div>
</div>